In [1]:
import quandl as ql 
import numpy as np 
import pandas as pd

In [8]:
ql.ApiConfig.api_key = 'vQnAV_DTf147BvbsRAdg'
apple = ql.get('EOD/AAPL')

In [9]:
apple.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [10]:
apple['HL_PCT'] = (apple['Adj_High']- apple['Adj_Low'])/apple['Adj_Close'] * 100
apple['PCT_Change'] = (apple['Adj_Close']- apple['Adj_Open'])/apple['Adj_Open'] * 100

In [11]:
apple.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_Change
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [24]:
apple.isna().sum()

Open          0
High          0
Low           0
Close         0
Volume        0
Dividend      0
Split         0
Adj_Open      0
Adj_High      0
Adj_Low       0
Adj_Close     0
Adj_Volume    0
HL_PCT        0
PCT_Change    0
dtype: int64

In [16]:
df = apple[['Adj_Close', 'PCT_Change', 'HL_PCT', 'Adj_Volume']]

In [17]:
df.head()

            Adj_Close  PCT_Change    HL_PCT   Adj_Volume
Date
2013-09-03  15.476472   -0.916650  2.711941  331928800.0
2013-09-04  15.796753   -0.173953  1.195129  345032800.0
2013-09-05  15.688388   -0.995502  1.421447  236367600.0
2013-09-06  15.781833   -0.044138  1.892738  359525600.0
2013-09-09  16.033661    0.231683  0.877176  340687200.0

In [18]:
df.isna().sum()

Adj_Close     0
PCT_Change    0
HL_PCT        0
Adj_Volume    0
dtype: int64

In [25]:
df['Label'] = df.Adj_Close.shift(-1)

In [27]:
df.tail()

            Adj_Close  PCT_Change    HL_PCT   Adj_Volume      Label
Date
2017-12-21  42.101646    0.482287  1.097080   83799584.0  42.101646
2017-12-22  42.101646    0.188917  0.527970   65397776.0  41.033528
2017-12-26  41.033528   -0.134660  1.050009  132742144.0  41.040745
2017-12-27  41.040745    0.293945  0.627198   85992852.0  41.156217
2017-12-28  41.156217    0.046784  0.800795   65920748.0        NaN

In [29]:
df.dropna(inplace=True)

In [30]:
df.tail()

            Adj_Close  PCT_Change    HL_PCT   Adj_Volume      Label
Date
2017-12-20  41.942872   -0.297364  1.244623   93902596.0  42.101646
2017-12-21  42.101646    0.482287  1.097080   83799584.0  42.101646
2017-12-22  42.101646    0.188917  0.527970   65397776.0  41.033528
2017-12-26  41.033528   -0.134660  1.050009  132742144.0  41.040745
2017-12-27  41.040745    0.293945  0.627198   85992852.0  41.156217

In [38]:
X = np.array(df.drop('Label', axis=1))
Y = np.array(df['Label'])

In [37]:
X

array([[ 1.54764725e+01, -9.16649767e-01,  2.71194073e+00,
         3.31928800e+08],
       [ 1.57967529e+01, -1.73953079e-01,  1.19512885e+00,
         3.45032800e+08],
       [ 1.56883878e+01, -9.95502249e-01,  1.42144689e+00,
         2.36367600e+08],
       ...,
       [ 4.21016459e+01,  1.88916877e-01,  5.27969830e-01,
         6.53977760e+07],
       [ 4.10335280e+01, -1.34660422e-01,  1.05000879e+00,
         1.32742144e+08],
       [ 4.10407450e+01,  2.93944738e-01,  6.27198124e-01,
         8.59928520e+07]])

In [39]:
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

In [46]:
lr = LinearRegression()
lr.fit(X_train, Y_train)
X_pred = lr.predict(X_test)

In [42]:
from sklearn.metrics import mean_squared_error

In [47]:
mean_squared_error(Y_test, pred)

0.11029658414890575