In [65]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import math

In [2]:
c = pd.read_csv('covid19.csv')

In [3]:
c.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30/01/20,Kerala,1,0,0,0
1,2,31/01/20,Kerala,1,0,0,0
2,3,01/02/20,Kerala,2,0,0,0
3,4,02/02/20,Kerala,3,0,0,0
4,5,03/02/20,Kerala,3,0,0,0

In [46]:
df = c[['ConfirmedIndianNational','ConfirmedForeignNational','Cured', 'Deaths', 'Date']].groupby('Date', sort=False).sum()

In [50]:
df.head()

          ConfirmedIndianNational  ConfirmedForeignNational  Cured  Deaths
Date
30/01/20                        1                         0      0       0
31/01/20                        1                         0      0       0
01/02/20                        2                         0      0       0
02/02/20                        3                         0      0       0
03/02/20                        3                         0      0       0

In [54]:
df_ = df.sum(axis = 1,skipna=True)

In [61]:
p_o = df_.loc['04/03/20']

In [62]:
dr = df_[df_.loc['04/03/20']:df_.loc['21/03/20']]

In [64]:
r = dr/dr.shift(1) - 1

In [69]:
r = r*26

In [72]:
p_o + (np.exp(r))

Date
01/03/20             NaN
02/03/20    3.371098e+07
03/03/20    1.079755e+09
04/03/20    3.997855e+27
05/03/20    3.635173e+01
06/03/20    3.319873e+01
07/03/20    4.091568e+01
08/03/20    6.456600e+01
09/03/20    1.071979e+02
10/03/20    6.135103e+02
11/03/20    3.334541e+01
12/03/20    3.540405e+02
13/03/20    4.589907e+01
14/03/20    5.992499e+01
15/03/20    2.607447e+03
16/03/20    3.329791e+01
17/03/20    1.852785e+02
18/03/20    4.162953e+01
19/03/20    1.199519e+02
20/03/20    1.122081e+03
21/03/20    5.438585e+02
dtype: float64